*.pdf
*.fig
*.mat
*.jpg
*__pycache__*
*.pyc
.DS_Store
Session.vim
*.pwd
*.bmp
*.synctex.gz
*.project
*.texclipse
*.log
*.aux
*.bbl
*.blg
*.out
*.tiw
*.tps
*.tmp
presentation/.settings
presentation/tmp/
presentation/.gitignore
*.auxlock
*.nav
*.snm
*.toc
*.texlipse
